.react-calendar__month-view__weekdays__weekday {
  text-decoration: none;
  letter-spacing: normal;
  border: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  letter-spacing: normal;
  border: none;
}
.react-calendar__tile {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.react-calendar__tile--active {
  background-color: #f0f0f0 !important;
  color: black;
  border: 1px solid #c9c9c9;
}

.react-calendar__tile--active:hover {
  background-color: #e0e0e0 !important;
}

.react-calendar {
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 10px;
}

.react-calendar__month-view__days__day {
  position: relative;
}

.react-calendar__tile--now {
  position: relative;
  background-color: transparent !important;
}

.react-calendar__tile--now::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.8em;
  height: 1.8em;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.react-calendar__tile--now > abbr {
  color: white !important;
  position: relative;
  z-index: 1;
}

.react-calendar__month-view__days__day--weekend {
  color: gray;
}

.meeting-dot {
  height: 5px;
  width: 5px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.outside-month {
  color: #d3d3d3;
}
