@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  width: 100%;
  max-width: 430px;
  max-height: 932px;
  height: calc(var(--vh, 1vh) * 100);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
